# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: a33f7622a19beb30bfe85e9552a34076595e55f6d22f3dba17fb7ecd14bc99db6eb75323b717a7b8fc9b48612984b93e1105c05896f884b67159ae595c0ae9ac

test:
  secret_key_base: d0532b6734889729044065ec6acd3516e1548c6535fe717523bb744ed8dfb4e711b4231b0ff8dee1c8f3e15836b9aedc563e9d6c946aa966a3c2c79689a997bb

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
